.center{
    width:80%;
    /* height: 80%; */
    margin: 10%;
    /* margin-top: 30%; */
    /* margin: auto; */
    
}

.body{
    background-color: #fff;
}

.white{
    color: #fff;
}

.img{
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
}